# Environment
.env

# Dependencies
/vendor/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Runtime / logs
*.log
storage/*.sqlite
storage/*.sqlite-*
storage/cacert.pem

#local files:
install_dompdf.ps1
composer.phar